<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>折线图</title>
  <script src="https://cdn.bootcss.com/echarts/3.7.1/echarts.min.js"></script>
</head>
<body>
<!--为echarts准备一个容器，画图就画在里面-->
<div id="box" style="width: 600px;height: 600px;"></div>
<script crossorigin="anonymous" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" src="https://lib.baomitu.com/jquery/3.6.0/jquery.js"></script>
<script>
  //初始化ehcharts实例
  var myChart=echarts.init(document.getElementById("box"));
  //指定图表的配置项和数据
  $.get("http://localhost:8080/oneMouthOrder",function (resp) {
    if (resp.code == 0) {
      var x = resp.data.day
      var y = resp.data.count;
      var option={
        //标题
        title:{
          text:'最近一个月租赁'
        },
        //工具箱
        //保存图片
        toolbox:{
          show:true,
          feature:{
            saveAsImage:{
              show:true
            }
          }
        },
        //图例-每一条数据的名字叫销量
        legend:{
          data:['销量']
        },
        //x轴
        xAxis:{
          data:x
        },
        //y轴没有显式设置，根据值自动生成y轴
        yAxis:{},
        //数据-data是最终要显示的数据
        series:[{
          name:'数量',
          type:'line',
          data:y,
          areaStyle: {
            normal: {color: '#80ffc0'}
          }
        }]
      };
      //使用刚刚指定的配置项和数据项显示图表
      myChart.setOption(option);
    }
  })
</script>
</body>
</html>